<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/styles/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    <!-- <link rel="shortcut icon" href="static/img/icon.ico"> -->
    <link rel="shortcut icon" type="icon" href="{{url_for('static', filename='img/icon.ico')}}">
    <!-- <script src="scripts/"></script> Yet to be completed -->
    <title>Weather</title>
</head>
<body class="bg">
    <header>
        <h1>No Weather!</h1>
        <h3 class="blog">Blog</h3>
        <h3 class="readme">Readme</h3>
    </header>
    <p class="error">Connection To Data Lost</p>
    <p class="parag">Connection to Application Interface is not responding.<br>We have no data to display at the moment.<br>Kindly note that we are currently working this issue.
        <br>We appreciate you patience as we restore the data.</br></p>
    <!-- <button oneclick="window.location.href='http://127.0.0.1:5000'" class="key_error_button">Go Home</button> -->
    <a href="http://127.0.0.1:5000"><button type="button" class="key_error_button">Go Home</button></a>
    <footer>
        <p class="foot">&copy; 2023 Copyright: All Rights Reserved | Developed by <NAME><b>YemiDev</b></NAME></p>
        <p class="portfolio">Portfolio Project | ALX Full-Stack Software Engineering</p>
        <!-- <p>Contact us: <a href="mailto:info@mywebsite.com">info@mywebsite.com</a></p> -->
    </footer>
</body>
</html>